<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Pay</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../static/payment.css">
</head>
<body>
    <div class="iconbar">
        <span class="iconbar__icon material-symbols-outlined">
            close
        </span>
        <span class="iconbar__icon material-symbols-outlined margin-left-auto">
            report
        </span>
        <span class="iconbar__icon material-symbols-outlined">
            more_vert
        </span>
    </div>
    <div class="paid__container">
        <div class="paid__video">
            <video src="../static/paid.mp4" autoplay playsinline style="pointer-events: none;"></video>
        </div>
        <div class="paid__amt">₹100.00</div>
        <div class="receiver_id">Paid to ******9184</div>
        <div class="upiid_paid">0871828183@ybi</div>
        <div class="paymentdate">November 12, 2022 4:49PM</div>
        <div class="transactionid">UPI transaction ID: 281828318182</div>
        <div class="gotit">Got it</div>
    </div>
    <div class="payment__details">
        <div class="avatar" style="background-color: purple;">
            J
        </div>
        <div class="receiver">Paying <span id="receiverSpan">******6957</span></div>
        <div class="upiid"><span id="upiidSpan">9677196957@oksbi</span></div>
        <div class="bankingname">Banking name: <span id="bankingnameSpan">Puluthi Veeran</span></div>
        <div class="amountselector">
            <span class="rupee">₹</span>
            <input class="amount" type="number" name="amt" id="amt"  onkeyup="this.style.width = ((this.value.length)) + 'ch'; document.querySelector('.paybutton').innerHTML = `Pay ₹${this.value}`">
        </div>
        <input class="note" placeholder="Add a note" type="text" name="note" id="note">
    </div>
    <div class="paying">
        <img class="spinner" src="../static/spinningwheel.gif" alt="">
        <div class="paying__label">Securely paying with Google Pay </div>
    </div>
    <div class="choose">
        <div class="choose__header">CHOOSE ACCOUNT TO PAY WITH</div>
        <div class="account">
            <div class="account__icon">
                <img src="../static/sbi.png" alt="SBI">
            </div>
            <div class="account__info">
                <div class="account__name">State Bank of India ••••3287</div>
                <div class="account__type">Savings Account</div>
            </div>
            <div class="account__droparrow">
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </div>
        </div>
        <button class="paybutton">
            Pay ₹0
        </button>
        <div class="poweredby">
            <div class="poweredby__header">POWERED BY</div>
            <div class="poweredby__partners">
                <img src="../static/upi.png" alt="upi" class="partner">
                <img src="../static/sbibroad.png" alt="sbi" class="partner">
            </div>
        </div>
    </div>
    <script src="../static/payment.js"></script>
</body>
</html>