<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Pay</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../static/index.css">
    <link rel="manifest" href="../manifest.json">
</head>
<body>
    <div class="add_modal">
        <form class="add_modal_form">
            <input type="text" placeholder="receiverId" name="receiverId" id="receiverId">
            <input type="text" name="upiId" id="upiId" placeholder="upiId">
            <input type="text" name="bankingName" id="bankingName" placeholder="bankingName">
            <input type="text" name="avatarChar" id="avatarChar" placeholder="avatarChar">
            <input type="color" name="avatarColor" id="avatarColor" placeholder="avatarColor">
            <input type="submit" value="Add" placeholder="receiverId">
        </form>
        <button id="close_modal">close</button>
    </div>
    <h1>Actions</h1>
    <div class="actions">
        <div class="action">
            <span class="material-symbols-outlined action__icon">
                qr_code_scanner
            </span>
            <span class="action__label">Scan to pay</span>
        </div>
        <div class="action" id="add">
            <span class="material-symbols-outlined action__icon">
                add
            </span>
            <span class="action__label">Add profile</span>
        </div>
        <div class="action">
            <span class="material-symbols-outlined action__icon">
                manage_accounts
            </span>
            <span class="action__label">Manage profiles</span>
        </div>
    </div>
    <br/>
    <br/>
    <h1>Profiles</h1>
    <div class="profiles" id="profiles"></div>
    <script src="../static/index.js"></script>
</body>
</html>